.container {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 평점(별, 후기) */
.container_rating {
  height: 60px;
  display: flex;
  gap: 20px;
}
.container_rating h2 {
  font-size: 54px;
  font-weight: 800;
}
.stars_review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.stars_container {
  display: flex;
  align-items: center;
  gap: 2px;
}
.stars {
  color: var(--purple-100);
  font-size: var(--font-size-body2);
}
.empty_stars {
  color: var(--gray-300);
  font-size: var(--font-size-body2);
}

.review_count {
  color: var(--gray-500);
  font-size: var(--font-size-caption1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body2);
}

/* 평점 비율 */
.rating_bar_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rating_bar {
  display: flex;
  align-items: center;
  gap: 13px;
}
.rating_bar span {
  color: var(--gray-500);
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-medium);
}
.rating_bar div {
  position: relative;
  flex: 1;
  height: 6px;
  background: var(--gray-100);
  border-radius: 50px;
}
.rating_bar div::after {
  position: absolute;
  content: "";
  height: 6px;
  width: var(--width, 0%);
  background: var(--purple-100);
  border-radius: 50px;
}

/* 테블릿 사이즈 */
@media (max-width: 1199px) {
  .container {
    padding: 0 60px;
    flex-direction: row;
    gap: 80px;
  }
  .rating_bar_container {
    flex: 2;
  }
  .rating_bar_container {
    gap: 8px;
  }
}

/* 모바일 사이즈 */
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
    flex-direction: column;
    gap: 24px;
  }
  .container_rating {
    height: 44px;
    gap: 15px;
  }
  .container_rating h2 {
    font-size: 36px;
  }
  .stars_review {
    gap: 5px;
  }
  .stars,
  .empty_stars {
    font-size: var(--font-size-caption1);
  }
}
