.card {
  padding: 18px 30px;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* 유저데이터(이미지, 이름, 시간정보) */
.user_container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.profile_img,
.default_profile {
  width: 64px;
  height: 64px;
  border: 1px solid var(--gray-300);
  border-radius: 50%;
  object-fit: cover;
}
.user_nickname {
  color: var(--gray-800);
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-body1);
}

/* fa/ba 리액트 아이콘 */
.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.heart {
  color: var(--gray-500);
  font-size: var(--font-size-h3);
  cursor: pointer;
}

/* aroma 및 평점 */
.aroma_rating_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.aroma_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tag {
  color: var(--gray-800);
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--gray-300);
  border-radius: 100px;
  padding: 9px 15px 6px;
}
.rating {
  background-color: var(--purple-10);
  color: var(--purple-100);
  font-size: var(--font-size-body2);
  padding: 9px 15px 6px;
  border-radius: 12px;
  font-weight: 700;
}
.rating_star {
  font-size: var(--font-size-caption1);
}

.review_text {
  font-size: var(--font-size-body3);
  color: var(--gray-800);
  line-height: var(--line-height-body1);
  margin-bottom: 16px;
}

/* 모바일 사이즈 */
@media (max-width: 767px) {
  .card {
    padding: 14px 20px;
    border-radius: 12px;
    margin-bottom: 16px;
  }
  .header {
    margin-bottom: 16px;
  }
  .profile_img,
  .default_profile {
    width: 42px;
    height: 42px;
  }
  .user_nickname {
    font-size: var(--font-size-body3);
  }
  .icon {
    gap: 18px;
  }
  .heart,
  .dropdown {
    font-size: var(--font-size-body1);
  }
  /* aroma 및 평점 + 리뷰 */
  .aroma_rating_container {
    margin-bottom: 16px;
  }
  .aroma_tags {
    gap: 3px;
  }
  .tag {
    font-size: var(--font-size-caption1);
    padding: 7px 10px 4px;
  }
  .rating_star {
    font-size: 12px;
  }
  .rating {
    font-size: var(--font-size-caption1);
    padding: 7px 10px 4px;
  }
  .review_text {
    font-size: var(--font-size-caption1);
    line-height: var(--line-height-body2);
    margin-bottom: 12px;
  }
}
