.review_list_container {
  flex: 2;
}

.review_title,
.no_review_title {
  color: var(--gray-800);
  font-size: var(--font-size-body1);
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
}

.empty_message {
  color: var(--gray-600);
  font-size: var(--font-size-body2);
  padding: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.empty_message_img {
  position: relative;
  width: 136px;
  height: 136px;
}
.empty_message p {
  color: var(--gray-500);
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
}

@media (max-width: 1199px) {
  .review_list_container {
    order: 2;
  }
  .review_title {
    display: none;
  }
}

@media (max-width: 767px) {
  .no_review_title {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body1);
  }
  .empty_message {
    gap: 32px;
  }
  .empty_message_img {
    width: 100px;
    height: 100px;
  }
  .empty_message p {
    font-size: var(--font-size-body3);
    font-weight: var(--font-weight-regular);
  }
}
