.container {
  margin-left: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wine_cards {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  padding: 24px 40px;
  background-color: var(--white);
  position: relative;
}

.wine_img {
  width: 100px;
  height: 100px;
  position: relative;
  margin-right: 40px;
}
.img {
  object-fit: contain;
}

.wine_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wine_name {
  font-size: 24px;
  font-weight: bold;
  color: var(--gray-800);
  cursor: pointer;
}

.price {
  display: flex;
  gap: 5px;
  padding: 11px 15px;
  background-color: var(--purple-10);
  border-radius: 12px;
  color: var(--purple-100);
  font-weight: bolder;
  justify-content: center;
  width: fit-content;
}

.region {
  font-size: 16px;
  color: var(--gray-500);
}
