.textboxes_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 80px;
}

.textbox {
  width: 699px;
  height: 320px;
  border: 1px solid #E0E6EE;
  border-radius: 16px;
  background-color: #EBEEF4;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

.textbox_large {
  align-self: flex-start;
  margin-left: calc((1140px - 699px) / 2);
  margin-bottom: 96px;
}

.recommendation_text {
  position: absolute;
  top: 56px;
  left: 32px;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.recommendation_text p {
  margin: 0;
}

.recommendation_text .sub_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #9FACBD;
  margin-top: 8px;
}

.monthly_recommendation {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 416px;
  height: 277px;
  background-color: #F2F4F8;
  border-radius: 16px 0px 16px 0px;
  overflow: hidden;
}

.monthly_title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.wine_slider {
  height: 100%;
  padding-top: 61px;
}

.wine_slide {
  height: 160px;
  padding: 0 20px;
}

.wine_box {
  width: 193px;
  height: 160px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
}

.wine_image {
  position: absolute;
  bottom: 12px;
  left: 20px;
  width: 38px;
  height: 136px;
  object-fit: contain;
}

.wine_info {
  position: absolute;
  top: 24px;
  left: 88px;
  right: 25px;
  bottom: 39px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wine_rating {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.star_rating {
  margin-bottom: 5px;
}

.wine_rating_large {
  position: absolute;
  right: 124px;
  bottom: 24px;
  font-family: Pretendard, sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 33.41px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.wine_name {
  font-size: 10px;
}

.centered_textboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered_textboxes .textbox:first-child {
  margin-bottom: 97px;
}

.inner_textbox_second, .inner_textbox_third {
  width: 341.93px;
  height: 277px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 16px 0px 16px 0px;
  background-color: #FFFFFF;
  overflow: visible;
}

.custom_wine_text, .review_system_text {
  width: 171px;
  position: absolute;
  top: 56px;
  left: 32px;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  z-index: 2;
}

.custom_wine_text p, .review_system_text p {
  margin: 0;
}

.custom_wine_text .sub_text, .review_system_text .sub_text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #9FACBD;
  margin-top: 8px;
}

.transparent_shape {
  width: 36px;
  height: 317px;
  position: absolute;
  bottom: -1px;
  right: 0;
  border-radius: 0px 0px 0px 16px;
  opacity: 0;
  transform: rotate(90deg);
  border: 1px solid #CFDBEA;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 104px;
}

.large_wine_bottle {
  position: absolute;
  left: 19.94px;
  top: 29.91px;
  width: 69.78px;
  height: 232.16px;
  object-fit: contain;
  z-index: 3;
}


.wine_info_box {
  position: absolute;
  top: 59.81px;
  left: 126px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wine_name_large {
  display: block;

  margin-bottom: 8px;
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
} 
.wine_region {
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9FACBD;
}


.wine_price {
  width: 86px;
  height: 29px;
  padding: 6px 10px;
  border-radius: 10px 0px 0px 0px;
  background-color: #F1EDFC;
  color: #6A42DB;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.wine_bottle_bottom_line {
  position: absolute;
  width: 341.93px;
  height: 0;
  left: 0;
  top: 241.24px;
  border-top: 1px solid #CFDBEA;
}