.label,
.input,
.button{
    display: block;
    width: 400px;
    height: 48px;
}



.form{
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo,
.move_login{
    display:flex;
    justify-content: center;
}

.signin_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f6fa;
}

.signin_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:496px;
    height: 811px;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.error{
    color:red;
}

.email,
.password{
    margin-bottom:24px;
}