.header {
  padding: 11px 60px;
  border-radius: 16px;
  width: 100%;
  min-width: 360px;
  max-width: 1140px;
  height: 70px;
  background-color: var(--black);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo_whtie {
  width: 52px;
  height: 15px;
}

.sign {
  display: flex;
  gap: 40px;
}
.header_login,
.header_sign {
  color: var(--white);
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-medium);
}

.profile_image {
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-300);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
    padding: 0 30px;
  }
  .sign {
    gap: 20px;
  }
  .header_login,
  .header_sign {
    font-size: var(--font-size-caption1);
  }
}
