.time_ago {
  color: var(--gray-500);
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
}

@media (max-width: 767px) {
  .time_ago {
    font-size: var(--font-size-caption1);
    line-height: var(--line-height-body2);
  }
}
