/* WineCard.module.css */

.wine_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  background: #ffffff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.wine_card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_img {
  position: relative;
  width: 140px;
  height: 178px;
  border-radius: 8px;
}
.wine_image {
  border-radius: 8px;
  object-fit: contain;
}

.info_section {
  flex-grow: 1;
  margin-left: 50px;
  width: 150px;
}

.name {
  font-size: 20px; /* 폰트 크기 줄임 */
  font-weight: bold;
  color: #2d3034;
}

.region {
  color: #9facbd;
  font-size: 14px;
  margin-top: 5px;
}

.price {
  background: #f3ebff;
  color: #6a42db;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}

.rating_section {
  text-align: left;
}

.rating {
  font-size: 40px;
  font-weight: bold;
  color: #2d3034;
}

.stars {
  display: flex;
  justify-content: flex-start; /* 별점 왼쪽 정렬 */
  margin-top: 4px; /* 간격 조정 */
}

.star_filled {
  color: #6a42db;
  margin-right: 2px;
}

.star_empty {
  color: #e0e0e0;
  margin-right: 2px;
}

.reviews {
  font-size: 12px;
  color: #9facbd;
  margin-top: 5px;
}

.arrow_icon {
  color: #9facbd;
  font-size: 23px;
  margin-top: 10px;
  text-align: right;
}

.latest_review_section {
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  margin: 15px 30px 0px;
}

.latest_review_section h3 {
  font-size: 14px;
  color: #2d3034;
}

.latest_review_section p {
  font-size: 13px; /* 후기 폰트 크기 조정 */
  color: #6a6a6a; /* 폰트 색상 수정 */
  margin-top: 5px;
}

@media (max-width: 768px) {
  .wine_card {
    width: 100%; /* 부모 너비에 맞춰 전체 사용 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 10px; /* 모바일에 맞게 여백 조정 */
    transition: width 0.3s ease, padding 0.3s ease; /* 너비와 여백의 변화에 애니메이션 효과 적용 */
  }
}
