/* 전체 페이지 스타일 */
.container {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

/* 프로필 및 메인 콘텐츠 레이아웃 */
.content_wrapper {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin-top: 20px;
}

/* 메인 콘텐츠 영역 */
.main_content {
  flex: 1;
  border-radius: 12px;
  padding: 20px;
}

/* 탭 네비게이션 */
.tab_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 20px;
}

.tab_nav {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.tabButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--gray-500);
  font-weight: bold;
}

.tabButton.active {
  color: var(--purple-100);
  border-bottom: 2px solid var(--purple-100);
  transition: all 0.3s ease-in-out;
}

.total_count {
  font-size: 14px;
  color: var(--purple-100);
}
