
.Input,
.Button{
    display: block;
    width: 400px;
    height: 48px;
}

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f6fa;
}


.SignUp_Form{
    display: grid;
    justify-content: center;
    align-items: center;
    width:496px;
    height: 811px;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Logo,
.Move_login{
    display:flex;
    justify-content: center;
}

.Error{
    color:red;
}

.Email,
.Name,
.Password,
.PasswordRepeat,
.Button,
.Move_login{
    margin-bottom: 24px;
    
}