.Label,
.Input,
.Button{
    display: block;
    width: 400px;
    height: 48px;
}



.Form{
    display: grid;
    justify-content: center;
    align-items: center;
}

.Logo,
.Move_login{
    display:flex;
    justify-content: center;
}



